UnityContainer.UnitTest/Connected Services/UnityContainer/HubService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetrieveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOBOfYear" type="xs:int" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SleepSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveRequest" nillable="true" type="tns:RetrieveRequest" />
</xs:schema>